<footer class="footer">
	<div class="container foot">
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12 ajuste-footer-tablet enlaces">
				<h5>Mapa del Sitio</h5>
				<ul class="list-styled">
					<li><a class="footer-links" href="@Root/index.html">Página de inicio</a></li>
					<li><a class="footer-links scroll" href="@Root/index.html#presentacion">¿Qué es esto?</a></li>
					<li><a class="footer-links scroll" href="@Root/index.html#about-kimball">Sobre Kimball Group</a></li>
					<li><a class="footer-links scroll" href="https://businessintelligence.es/">Sobre Crono</a></li>
					<li><a class="footer-links" href="@Root/ralph-kimball-books.html">Compra un libro</a></li>
					<li><a class="footer-links" href="@Root/kimball-archive.html">Índice de artículos</a></li>
				</ul>
				<h5>Blogs Amigos</h5>
				<ul class="list-unstyled">
					<li><a class="footer-links" href="http://businessintelligence.info/">Business Intelligence fácil</a></li>
					<li><a class="footer-links" href="http://businessintelligence.es/blog">Lo bueno, si breve, dos veces bueno</a></li>
				</ul>
			</div>
		
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="social-media-footer">
					<a class="icon-linkedin" href="https://www.linkedin.com/company/businessintelligence"></a>
					<a class="icon-twitter" href="https://twitter.com/bifacil"></a>
					<a class="icon-facebook" href="https://www.facebook.com/CronoBusinessIntelligence/"></a>
				</div>
				<div class="sm-text">
					<span>Síguenos en Redes Sociales</span>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12" style="height:235px">
				<!-- Este div está solo como fix para que la chica quede completamente abajo a la derecha
					Con tal de hacer eso, el div de la chica tiene que tener position absolute, y al tener position absolute su height es 0,
					con este div simulamos que hay un elemento con el height del de la chica
				-->
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 suscripcion">
				<div class="subscribe-text">
					<h4>LA MEJOR <strong>NEWSLETTER</strong> SOBRE BI</h4>
					<a class="boton-newsletter" href="@Root/subscribe.html">QUIERO SUSCRIBIRME</a>
				</div>
				<div class="subscribe-girl">
					<img src="@Root/images/subscribe-datawarehouse.png" width="210" height="auto" alt="" />
				</div>
			</div>
		</div>
	</div>
</footer>
