<footer class="footer">
	<div class="container foot">
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12 ajuste-footer-tablet">
				<div class="encabezados-footer"><h5>Mapa del Sitio</h5></div>
				<ul class="list-styled">
					<li><a class="footer-links" href="@Root/index.html">Página de inicio</a></li>
					<li><a class="footer-links scroll" href="@Root/index.html#presentacion">¿Qué es esto?</a></li>
					<li><a class="footer-links scroll" href="@Root/index.html#about-kimball">Sobre Kimball Group</a></li>
					<li><a class="footer-links scroll" href="https://businessintelligence.es/">Sobre Crono</a></li>
					<li><a class="footer-links" href="@Root/ralph-kimball-books.html">Compra un libro</a></li>
					<li><a class="footer-links" href="@Root/kimball-archive.html">Índice de artículos</a></li>
				</ul>
				<div class="encabezados-footer"><h5>Blogs Amigos</h5></div>
				<ul class="list-unstyled">
					<li><a class="footer-links" href="http://businessintelligence.info/">Business Intelligence fácil</a></li>
					<li><a class="footer-links" href="http://businessintelligence.es/blog">Lo bueno, si breve, dos veces bueno</a></li>
				</ul>
			</div>
		
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="sm-footer">
					<a class="icon-facebook" href="#"></a>
					<a class="icon-twitter" href="#"></a>
					<a class="icon-linkedin" href="#"></a>
				</div>
				<div class="sm-text">
					<span>Síguenos en Redes Sociales</span>
				</div>
			</div>
			<div class="col-md-4 col-md-pull-0 col-sm-12 col-sm-pull-1 col-xs-12 col-xs-pull-3 ipad-air-chica">
				<div class="col-md-6 col-xs-6 col-news">
					<h4 class="suscribir">Suscríbase a nuestra Newsletter</h4>
					<a class="boton-newsletter" href="http://businessintelligence.us14.list-manage.com/subscribe?u=44515b3d91fba1a993d0dcc81&id=c76888fae1">IR</a>
				</div>
				<div class="col-md-6 col-xs-6">
					<img src="@Root/images/subscribe-datawarehouse.png" width="220" height="auto" alt="" />
				</div>
			</div>
		</div>
	</div>
</footer>
