<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="@Page.Description">
	<link rel="icon" href="@Root/favicon.ico">
	<title>Data warehouse fácil: @Page.Title</title>
	<link href="@Root/images/favicon.png" rel="shortcut icon" />
	<link href="@Root/css/bootstrap.min.css" rel="stylesheet">
	<link href="@Root/css/style.css" rel="stylesheet">
	<link href="@Root/css/font-awesome.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu:100,100i,300,300i,400,400i,700" rel="stylesheet">
</head>
	